<!-- <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Mails</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="city">Send to</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="subscriber_type" name="subscriber_type" placeholder="Subscriber type">
              </div>
              <div class="form-group col-sm-6">
                <label for="city">Subject</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="subscriber_type" name="subscriber_type" placeholder="Subscriber type">
              </div>
              <div class="form-group col-sm-12">
                <label for="city">Text Here</label>
                <textarea type="text" class="form-control" id="city" [(ngModel)]="subscriber_type" name="subscriber_type" placeholder="Subscriber type"></textarea>
              </div>
              <div class="form-group col-sm-12">
                <label for="city">Attach Here</label>
                <input type="file" class="form-control" id="city" [(ngModel)]="subscriber_type" name="subscriber_type" placeholder="Subscriber type">
              </div>
              <div class="form-group col-sm-4">
                <label for="city">Action</label>
                <br>
                <button *ngIf="updatebutton == false" class="btn btn-primary px-4" (click)="Itemadd()">Send</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-11" style="padding-top: 10px;">
                        <strong>Send Mail List</strong>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary px-4"> Inbox</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                  <div class="card-body">
                    <div class="search-hero">
                      <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                        [(ngModel)]="searchCoupon" autocomplete="off" placeholder="&#xf002; Search...">
                    </div>
                    <table class="table table-striped table-bordered table-sm" [svData]="" #sv="svDataTable"
                      [svRowsOnPage]="10" svSortBy="name" svSortOrder="asc">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Send to</th>
                          <th>Subject</th>
                          <th>Text</th>
                          <th>Send at</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let item of datas | filter:searchCoupon ; let i = index;">
                          <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.item_code}}</td>
                            <td class="act-btn">
                              <i (click)="edit(item)" class="fa fa-pencil-square-o btn btn-primary" aria-hidden="true"></i>
                              <i (click)="delete(item._id)" class="fa fa-trash btn btn-danger" aria-hidden="true"></i>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="9">
                            <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]">
                            </sv-bootstrap-paginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                
              </div>
      </div>
    </div>
  </div>
</div>
  </div>
   -->

   <img src="../../../../assets/img/avatars/3.jpg">